# Build directories
build*/
cmake-build-*/
out/

# IDE
.vs/
.vscode/
*.user
*.suo

# Compiled
*.obj
*.o
*.lib
*.a
*.exe
*.dll
*.so
*.dylib

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
